[Unit]
Description=Home Assistant Alert Listener
After=network.target

[Service]
ExecStart=/home/player4/homeassistant-alert.sh
Restart=always

[Install]
WantedBy=default.target
